*{
	margin: 0px;
}
html,body{
	height: 100%;
	min-height: 100%;
	position: relative;
}
.container{
	min-height: 100%;
	position: relative;
}
.men-in{
	padding: 10px;
	/* padding-bottom: 60px; */
	margin-left: 26px;
}
nav{
	padding: 10px;
}
.login-box{
    background: url('../images/login_bg.jpg') no-repeat  fixed;
    background-size: cover;
}
.login{
    width: 100%;
}
.wrapper{
    width: 500px;
    margin-top: 15%;
    margin-right: 10%;
    float: right;
}

/* .logo img{
 
		
} */

#sourcex{
	position: absolute;
	/* top: 50%; */
	width: 60px;
  height: 35px;
	left: 50%;
	margin-top: -18px;
	margin-left: -15px;
}

.ggff{
	position: absolute;
	/* top: 50%; */
	width: 50px;
  height: 35px;
	/* padding: 4px; */
	margin-top: -18px;
	left: 94%;
	cursor: pointer;
	/* margin-top: -18px; */
	/* margin-left: -15px; */
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	display: none;
	float: right;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: transparent;
	background-clip: padding-box;
	border: none;
	border-radius: .25rem;
}
.menu{
	background: #633131;
	font-weight: bold;
	/* position: fixed; */
	/* width: 90%; */
	/* overflow: hidden; */
	/* z-index: 1; */
}

.la{
	margin-top: 15px;
	padding-top: 10px;
	background: #4747479d;
	/* color: chartreuse; */
}

.la a{
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;

}

.baner{
	width: 100%;
	height: 380px;
	background:url('../images/banner.jpg');
	background-size: cover;
	/* margin-top: 27px; */
	position: relative;
}


.judul h2{
	text-align: center;
	margin-top: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
}

.reply{
	float: right;
}

.content {
	margin-top: 12px;
}

.feat{
	position: relative;
	left: 25%;
}

.forum-box{
	width: 750px;
	height: 120px;
	background: rgb(239, 241, 85);
	border-radius: 10px;
	position: relative;
}

.title-box{
	margin-top: 7px;
	padding-left: 5px;
	margin-left: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	color: darkblue;

}

.forum-box .desk {
	margin-top: 7px;
	padding-left: 5px;
	margin-left: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	/* text-transform: uppercase; */
	float: left;
	text-align: justify;
	width: 730px;
}


/* for view forum view /uri  */
.group-uri {
	/* margin-left: 220px; */
	margin-top: 50px;
}
.badan-forum {
	border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; padding: 10px; margin: 10px 0;
}
.gelap {
	border-color: #ccc; background-color: #ddd;
}
.badan-forum::after {
	content: ""; clear: both; display: table;
}
.badan-forum .deks{
	text-align: justify;
	margin-top: 14px;
}
.badan-forum .deks2{
	text-align: justify;
	margin-top: 58px;
}
.username{
	margin: 3px;
	/* padding: 10px; */
	font-stretch: extra-expanded;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 7px; */
	font-size: 17pt;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	/* float: right; */
}
.username2{
	margin: 3px;
	/* padding: 10px; */
	font-stretch: extra-expanded;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 7px; */
	font-size: 17pt;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	float: right;
}
.badan-forum img {
	float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%;
}
.badan-forum img.m_right {
	float: right; margin-left: 20px; margin-right:0;
}
.right {
	float: right; color: #575252;
}
.left {
	float: left; color: #3b3939;
}
.str{
	font-size: 9pt;
}
.sjr img{
	width: 400px;
	float: left;
	height: 270px;
	margin-right: 15px;
}

.od {
	text-align: justify;
	padding: 4px;
}

.sjr strong a{
	text-decoration: none;
}
.identity :hover{
	color: darkgoldenrod;
}

#por-tit{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 22pt;
}
/* footer */
footer{
	height:50px;
	/* min-height: 50px; */
    line-height:50px;
    background:#633131;
    color:#fff;
	position: absolute;
	bottom:0px;
	width: 100%;
	margin-left: -15px;
}

.container footer a{
	text-decoration: none;
	color: #b39b31;
	font-weight: bold;
	text-transform: uppercase;
}

.container footer a:hover {
	color: #d8d6d5;
}

.play{
	position: relative;
	width: 330px;
	height: 200px;
	/* padding: 10px; */
	margin: 10px;
	/* border: 1; */
}

.forum-banner{
	background: url('../images/bg.png') no-repeat ;
	background-size: cover;
}

.menu-forum{
	margin: 0 auto;
	background: rgb(255, 255, 255);
	font-weight: bold;
	margin-bottom: 19px;
}

.menu-forum a {
	text-align: center;
	/* padding: 10px; */
	margin-left: 270px;
	
}

.default{
	cursor: pointer;
}

.pag{
	margin-left: 230px;
	font-weight: bold;
	letter-spacing: 10px;
}
.insom{
	float: right;
}

.yours{
	/* float: right; */
	padding: 5px;
	text-decoration: none;
	color: rgb(104, 98, 98);
	font-weight: bold;
	display: block;
	font-size: 16pt;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* position: absolute; */
}

.yours :hover{
	color: rgb(255, 145, 0);
}

.dash-prof{
	width: 300px;
	height: 270px;
}

.tbl p{
	display: inline;
	padding: 4px 7px;
}

/* sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #633131;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 13px;
  color: #ececec;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #633131;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #633131;
}

#main {
  transition: margin-left .5s;
	background: #D1D1D1;
	height: 100%;
  /* width: 70%; */
  /* position: fixed; */
  z-index: 1;
	overflow-x: hidden;
	/* min-height: max-content; */
	/* height: min-content; */
	/* height: 100%; */
  /* padding: 16px; */
	/* min-height: 100%;
	position: relative; */

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.contentx{
	/* padding: 10px;
	
	min-height: 100%; */
	/* padding: 40px; */
	/* margin-left: -100px; */
	position: absolute;
	/* background: #000000; */
}